:root{
    --tertiary: rgba(49, 52, 61, 1);
    --dark: rgba(28, 29, 33, 1);
    --light: rgba(238, 238, 247, 1);
    --surf: rgba(157,214,225,1);
    --lake: rgba(75,182,239,1);
    --storm: rgba(79,102,106,1);
    --copen: rgba(33,99,136,1);
    --oyster: rgba(225,218,199);
  }

.banner{
        border: 5px solid var(--surf);
        background-color: var(--storm);
        color: var(--tertiary);
        min-height: 150px;
        max-height: 150px;
        flex-basis: calc(50% - 1em);
        display: flex;
        align-items: flex-end;
        padding: 0 0 20px 0;
        margin: 0.5em;
        text-decoration: none;
        background-blend-mode: soft-light;
        background-size: 150%;
        transition: all 0.5s;
        font-size: 0.9rem;
      
}

.banner h4 {
    color: var(--dark);
    font-size: 4rem;
    background-repeat: no-repeat;
    background-image: linear-gradient(270deg, var(--oyster) 0%, var(--lake) 50%);
    background-size: 0;
    background-position: bottom;
    transition: all 0.25s ease-in;
}

.banner:hover h4{
    background-repeat: no-repeat;
    background-image: linear-gradient(270deg, var(--oyster) 0%, var(--lake) 50%);
    background-size: 100%;
    background-position: bottom;
    transition: all 0.25s ease-in;
}

.banner:first-child {
    min-height: 400px;
    flex-basis: 100%;
}

.banner:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

